.main-home{
  color: black;
  background-image: url(./assets/home.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 3/1;
  min-width: 100%;
}

.wrapper{
  transform: translate(60%, 50%);
  height: 100%;

}

.wrapper p{
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 300;
}

.shop-now {
  background-color: rgb(83, 122, 231);
  padding: 10px;
  border-radius: 6px;
  font-size: 1.2rem;
  transition: background-color 0.3s, 
  color 0.3s;
}

.shop-now:hover{
  color:  rgb(83, 122, 231);
  background-color: white;

}

.featured-products{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 2vh 2vw;
}

h2{
  font-size: 2rem;
  font-weight: 300;
}

.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5vw;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15vw;
  border-radius: 6px;
  background-color: rgb(167, 164, 164);
  color: white;
  transition: transform 0.3s;
}

.card:hover{
  transform: scale(1.1);
}

.product-info{
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name{
  font-weight: 500;
}

.card img{
  border-radius: 6px;
}