*, *::before, *::after {
  box-sizing: border-box;
 }
 
 
 * {
  margin: 0;
  padding: 0;
 }
 
 
 body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins,'Courier New', Courier, monospace;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(255, 216, 204);
 }
 
 img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
 }
 
 
 input, button, textarea, select {
  font: inherit;
 }
 
 
 p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
 }
 
 
 button, a{
  cursor: pointer;
  }
 
 
 a{
    text-decoration: none;
 }



 .card{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 300px;
   border-radius: 6px;
   background-color: rgb(167, 164, 164);
   color: white;
   transition: transform 0.3s;
 }
 
 .card:hover{
   transform: scale(1.1);
 }
 
 .product-info{
   padding: 6px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .name{
   font-weight: 500;
 }
 
 .card img{
   border-radius: 6px;
 }
 
 